html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* reset css */

*,
*::before,
*::after {
    box-sizing: border-box;
}


@font-face {
    font-family: 'GmarketSans';
    src: url('./GmarketSansTTFLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('./GmarketSansTTFMedium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('./GmarketSansTTFBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bounded';
    src: url('./Bounded-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GmarketSans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDE5D3;
}


header {
    width: 100%;
    background-color: #8A0000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    padding: 1rem 10rem 1rem 5rem;
}

.logoImg {
    width: 50px;
    height: auto;
    flex-shrink: 0;
    display: block;
}

.navBar {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1.125rem;
    font-weight: 700;
    margin-left: auto;
}

.navText {
    color: #f0f0f0;
}

.navText:hover {
    color: #f8ef3a;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 75rem;
    overflow: hidden;
}

.ricesungText {
    /* color: #8A0000;
    font-family: 'Bounded';
    font-size: 15rem;
    font-weight: 900;
    letter-spacing: 0rem; */
    width: 85rem;
    position: relative;
    position: absolute;
    top: 10rem;
    left: 15rem;
}

.mainProfileImg {
    position: absolute;
    top: calc(18rem + 13rem + 4rem);
    left: 3rem;
    width: 60rem;
    animation: fly-away 3s ease-out forwards;
}

@keyframes fly-away {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(50vw, -30vh) rotate(-12deg);
    }
}

.mainBackImg {
    width: 100%;
    height: auto;
}

.portfolioSection {
    width: 100%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #8A0000;
}

.portfolioCard {
    display: flex;

    border: 0.25rem solid #f0f0f0;
    height: 320px;
}

.portfolioText {
    font-family: 'Bounded';
    font-size: 16.25rem;
    font-weight: 900;
    color: #f0f0f0;
}




.portfolioImg {
    width: auto;
    height: 100%;
}

.portfolioTag {
    height: 100%;
}

.aboutMeSection {
    width: 100%;
    display: flex;
}

.aboutMeContainer {
    margin: auto;
    width: 75rem;
    height: 63rem;
    display: flex;
    flex-direction: column;
}

.aboutMeImg {
    width: 58rem;
    height: auto;
}

.profile-item {
    width: 100%;
    display: grid;
    grid-template-columns: 20rem 55rem;
    grid-template-rows: 4rem 17rem;
    grid-template-areas:
        "title ."
        ".     content";
}

.profile-text {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    font-weight: 900;
    color: #8A0000;
}

.profile-details {
    grid-area: content;
    max-width: 100%;
    min-width: 0;
    display: block;
    overflow: hidden;
    font-size: 1.5rem;
    line-height: 1.5;

}

.profile-summary {
    font-size: 2.5rem;
    font-weight: 900;
    color: #8A0000;
    margin-bottom: 0.5rem;
}


footer {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem;

    background-color: #8A0000;
}

.copyright {
    color: #531e1e;
}

address {
    color: #EDE5D3;
}


html {
    scroll-behavior: smooth;
}